.authorize {
  display: none;
  text-align: center;
  padding: 8px;
}

.authorize--success {
  background-color: #c8e6c9;
  color: #43a047
}

.authorize--error {
  background-color: #ffcdd2;
  color: #e53935
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.option_form {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  margin-bottom: 15px;
}